.container-fluid
  .row-fluid
    .col-md-8.col-md-offset-2
      %h1.alert
        %span.glyphicon.glyphicon-film
        Your Videos

      .upload-btn{style:'display:block;text-align:right;'}
        %a.btn.btn-success{href:'/upload'} Upload

      - if @totalVideos > 0
        .pages
          %small.clearfix
            Showing Videos
            = @firstVideo
            to
            = @lastVideo
            of
            = @totalVideos
          %ul.pagination
            %li
              %a.active{:href => ("/list/" + (@currentPage - 1).to_s unless @currentPage == 1 )} &laquo;
            - (1..@numPages).each do |val|
              %li{:class => ("disabled" unless val != @currentPage)}
                %a{href:"/list/" + val.to_s}= val
            %li
              %a{:href => ("/list/" + (@currentPage + 1).to_s unless @currentPage == @numPages )} &raquo;

      - if @totalVideos == 0
        %br
        %br
        .alert.alert-warning Oops, you haven't uploaded any videos yet!

      - if @totalVideos > 0
        %ul.media-list
          - @videos.each do |video|
            %li.media
              %a.pull-left{:href => '/view/' + video['id'] }
                %img.media-object{:src => video['thumbnails']['thumbnail'][1]['_content']}
              .media-body
                %h4
                  %span= video['title']
                %p= video['description']
                %p=  video['upload_date']
              .btn-group.clearfix
                %a.btn.btn-info.btn-mini{href:'/edit/' + video['id']}
                  %span.glyphicon.glyphicon-pencil
                %a.btn.btn-success.btn-small{href:'/view/' + video['id']}
                  %span.glyphicon.glyphicon-search
                %a.btn.btn-danger.btn-small{onclick:'return confirm("Are you sure you want to delete this video?")', href:'/delete/' + video['id'] + '/' + video['title']}
                  %span.glyphicon.glyphicon-remove

%p= @videosTest
